<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ViveVolarDbConnectionString"
         connectionString="Data Source=tcp:vivevolar.database.windows.net,1433;
                        Initial Catalog=vivevolardb;Persist Security Info=False;
                        User ID=vivevolaradmin;Password=vivevolar2018*;
                        MultipleActiveResultSets=False;Encrypt=True;
                        TrustServerCertificate=False;"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="NombreCadenaConexion" value="ViveVolarDbConnectionString" />
  </appSettings>
</configuration>
<!--Connection Timeout=30-->